@* Feature Listeleme Sayfası Tasarımı *@

@using EntityLayer.Concrete
@model List<Feature>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .fixed-table th, .fixed-table td {
        word-wrap: break-word; /* Uzun kelimeleri bölerek satır atlamasını sağlar */
        white-space: normal; /* Metnin birden fazla satıra yayılmasını sağlar */
        max-width: 300px; /* Description hücresinin maksimum genişliği */
    }
</style>


<div class="card-header border-0">
    <h3 class="mb-3">Feature Tablosu</h3>
</div>


  <div class="form-group">
        <label for="languageSelect">Dil Seçin:</label>
        <select id="languageSelect" name="Language" class="form-control">
            <option value="tr-TR">Türkçe</option>
            <option value="en-US">English</option>
        </select>
    </div


<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush fixed-table">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Name</th>
                <th scope="col" class="sort" data-sort="status">Title</th>
                <th scope="col" class="sort" data-sort="completion">Desciption</th>
                <th scope="col" class="sort" data-sort="completion">VideoUrl</th>
                <th scope="col">Sil</th>
                <th scope="col">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FeatureID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Title
                    </td>

                    <td>
                        @item.Desciption
                    </td>
                    <td>
                        <img src="/video/@item.VideoUrl" width="100" height="100" alt="video" />
                    </td>
                    
                    <td>
                        <a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-danger">Sil</a>
                    </td>
                    <td>
                        <a href="/Feature/EditFeature/@item.FeatureID" class="btn btn-warning">Düzenle</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

    <a href="/Feature/AddFeature" class="btn btn-primary">Yeni Feature Ekle </a>
</div>

