


@* ADMİN PANELİ SOL MENÜ
 *@

<div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
           
            <!-- Heading -->
            <h6 class="navbar-heading p-3 text-muted">
                <span class="docs-normal">Ana Sayfa</span>
            </h6>
        
           
            <li class="nav-item">
                <a class="nav-link" href="/Feature/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Feature</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Header/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Header</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Portfolio/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Portfolio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Questions/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">S.S.S</span>
                </a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link" href="/MasterBrand/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">AnaMarka</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Brand/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Markalarımız</span>
                </a>
            </li>

            <!-- Heading -->
            <h6 class="navbar-heading p-3 text-muted">
                <span class="docs-normal">Hakkımızda Sayfası</span>
            </h6>

       
            <li class="nav-item">
                <a class="nav-link" href="/About/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Hakkımızda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Skill/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Yetenekler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Reference/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Referanslar</span>
                </a>
            </li>

           
            <!-- Heading -->
            <h6 class="navbar-heading p-3 text-muted">
                <span class="docs-normal">Arge Sayfası</span>
            </h6>
        
            <li class="nav-item">
                <a class="nav-link " href="/Arge/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Arge</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Partner/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Partnerler</span>
                </a>
            </li>
          
            <!-- Heading -->
            <h6 class="navbar-heading p-3 text-muted">
                <span class="docs-normal">Diğerleri</span>
            </h6>
          
            <li class="nav-item">
                <a class="nav-link" href="/Product/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Ürünler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Categori/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Kategoriler</span>
                </a>
            </li>
       
            <li class="nav-item">
                <a class="nav-link" href="/Contact/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">İletişim</span>
                </a>
            </li>
          
        
       
            <li class="nav-item">
                <a class="nav-link" href="/Message/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SocialMedia/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Sosyal Medya</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Topbar/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Topbar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Portfolio/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Register</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Portfolio/Index">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Oturumu Kapat</span>
                </a>
            </li>




        </ul>

    </div>
</div>