@using EntityLayer.Concrete
@model List<Reference>



<div id="owl-carousel" class="owl-carousel owl-theme">

    @foreach(var item in Model)
    {
        <div class="item">
            <img src="@item.ImageUrl" alt="" />
        </div>
    }
   
   
</div>


@* <div id="owl-carousel" class="owl-carousel owl-theme">
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo2.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo3.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo4.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo5.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo6.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo7.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo8.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo9.png" alt="" />
    </div>
    <div class="item">
        <img src="~/Vipnet Asansör/img/pLogo10.png" alt="" />
    </div>

    <!-- Diğer videolar için benzer yapıları ekleyin -->
</div> *@