@* ANASAYFA DA MARKALARIMIZ PARTİAL TASARIMI *@


@using EntityLayer.Concrete
@model List<Brand>


@foreach(var item in Model)
{
    <div class="testimonial-item ps-5">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <a href="@item.Url" target="_blank">
            <div class="d-flex align-items-center mb-3">
                <img src="~/img/@item.ImageUrl" alt="Brand Image" />

            </div>
        </a>
        <h5 class="mb-1">@item.Name</h5>
        <p class="fs-5">@item.Description</p>

    </div>
}

