@* HAKKIMIZDA SAYFSINDA ABOUT PARTİAL TASARIMI *@

@using EntityLayer.Concrete
@model List<About>

@foreach (var item in Model)
{
    <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="about-img ">
                <img src="~/img/@item.ImageUrl" alt="about Image" />
            </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

            <h1 class="mb-4">
                @item.Name
            </h1>
            <p class="mb-4">
                @item.Title
            </p>
            <p class="mb-4">
                @item.Description
            </p>

        </div>
    </div>
}


