@using EntityLayer.Concrete
@model List<Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>


<div class="card-header border-0">
    <h3 class="mb-3">Galeri Tablosu</h3>
</div>

  <div class="form-group">
        <label for="languageSelect">Dil Seçin:</label>
        <select id="languageSelect" name="Language" class="form-control">
            <option value="tr-TR">Türkçe</option>
            <option value="en-US">English</option>
        </select>
    </div


<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush ">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
     
                <th scope="col" class="sort" data-sort="status">Name</th>
                <th scope="col" class="sort" data-sort="budget">Title</th>
                <th scope="col" class="sort" data-sort="completion">Description</th>
                <th scope="col" class="sort" data-sort="budget">ImageUrl</th>
  
                <th scope="col">Sil</th>
                <th scope="col">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.GalleryID
                    </td>
                  
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Description
                    </td>

                    <td>
                        <img src="/img/@item.ImageUrl" width="100" height="100" alt="Image" />
                    </td>

                  
                    <td>
                        <a href="/Gallery/DeleteGallery/@item.GalleryID" class="btn btn-danger">Sil</a>
                    </td>
                    <td>
                        <a href="/Gallery/EditGallery/@item.GalleryID" class="btn btn-warning">Düzenle</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

    <a href="/Gallery/AddGallery" class="btn btn-primary">Yeni Galeri Ekle </a>
</div>


