@* İletişim Düzenleme Sayfası Tasarımı *@


@model EntityLayer.Concrete.Contact


@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">İletişim Düzenleme Sayfası</h3>
</div>
<br />

<form asp-action="EditContact" method="post">
    <input type="hidden" asp-for="ContactID" />
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <textarea id="editor1" asp-for="Title" class="form-control"></textarea>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="Mail" class="control-label"></label>
        <input asp-for="Mail" class="form-control" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maps" class="control-label"></label>
        <input asp-for="Maps" class="form-control" />
        <span asp-validation-for="Maps" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>
