@* ANASAYFA DA ANA MARKA TASARIMI *@


@using EntityLayer.Concrete
@model List<MasterBrand>

@foreach (var item in Model)
{

    <div class="d-flex align-items-center mb-3">
        <img src="~/img/@item.ImageUrl" alt="MasterBrand Image" />

    </div>
    <h3 class="mb-4">@item.Name</h3>
    <h4 class="mb-4">@item.Title</h4>
    <p class="mb-4">
        @item.Description
    </p>
}




