@* Yetenek Ekleme Sayfası Tasarımı *@

@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "Add Skill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var currentLanguage = ViewBag.CurrentLanguage as string;
}




<h1>Yetenek Ekleme</h1>
<br />
<br />
<form asp-action="AddSkill" method="post">

    <!-- Dil Seçim Dropdown -->
    <div class="form-group">
        <label for="languageSelect">Dil Seçin:</label>
        <select id="languageSelect" name="Language" class="form-control">
            <option value="tr-TR">Türkçe</option>
            <option value="en-US">English</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Icon" class="control-label"></label>
        <input asp-for="Icon" class="form-control" />
        <span asp-validation-for="Icon" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <textarea asp-for="Title" class="form-control"></textarea>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>



