
@* ADMİN SABİT OLAN LAYOUT ALANI *@



@{
    Layout = null;
}


<!DOCTYPE html>
<html>
@await Html.PartialAsync("/Views/Admin/PartialHead.cshtml")

<style>
    .logo-img {
        width: 150px; /* Logo genişliği */
        height: 50; /* Oranları koruyarak yüksekliği ayarlar */
    }

 
</style>
<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header align-items-center">
                <a  href="javascript:void(0)">
                    <img src="~/vipnet-asansor/img/Vip_Asansor_Logo.png" class=" logo-img" alt="...">
                </a>
            </div>


            @await Html.PartialAsync("/Views/Admin/PartialSideBar.cshtml")


        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        @await Html.PartialAsync("/Views/Admin/PartialNavbar.cshtml")
        

        <!-- Header -->
        @await Html.PartialAsync("/Views/Admin/NavigationPartial.cshtml")

        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                   
                        @RenderBody()
                   
                </div>
            </div>
            <br />
            <br />
            <!-- Footer -->
            @await Html.PartialAsync("/Views/Admin/PartialFooter.cshtml") 
        </div>
    </div>

    @await Html.PartialAsync("/Views/Admin/PartialScript.cshtml")
</body>

</html>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var languageSelect = document.getElementById('languageSelect');

        // Dil seçimi değiştiğinde sayfayı yenile
        languageSelect.addEventListener('change', function () {
            var selectedLanguage = languageSelect.value;
            var currentUrl = window.location.href.split('?')[0]; // Mevcut URL'yi al
            window.location.href = currentUrl + '?language=' + selectedLanguage;
        });

        // URL'den dil bilgisini al ve seçimi ayarla
        var urlParams = new URLSearchParams(window.location.search);
        var language = urlParams.get('language');

        if (language && languageSelect) {
            languageSelect.value = language;
        }
    });
</script>