@*ANASAYFA ÜRÜNLER*@

@using EntityLayer.Concrete
@model List<Product>

 @using Microsoft.Extensions.Localization

@inject IStringLocalizer<BusinessLayer.Resource.StringResource> Localizer




<div class="container-fluid bg-light py-3">
    <div class="container py-3">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <h2 class="mb-4">@Localizer["Products"]</h2>
            <div class="border-bottom"></div>
        </div>

        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="card case-item position-relative overflow-hidden rounded mb-2">
                      
                        <img class="img-fluid" src="~/img/@item.PImageUrl" alt="Product Image" />
                       
                        <a class="case-overlay text-decoration-none" href="/@item.Url">
                            <small>@item.Title</small>
                            <h5 class="lh-base text-white mb-3">
                                @item.Name
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


