

@* NAVBAR DA ÜRÜNLERİN LİSTELENME TASARIMI *@


@model IEnumerable<EntityLayer.Concrete.Product>




    @foreach (var product in Model)
    {
       <a href="/@product.Url" class="dropdown-item">@product.Name</a>
    }

