@* Header Güncelleme Sayfası Tasarımı *@
@model EntityLayer.Concrete.Header

@{
    ViewData["Title"] = "EditHeader";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Header Düzenleme Sayfası</h3>
</div>
<br />

<form asp-action="EditHeader" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="HeaderID" />

    <!-- Dil Seçim Dropdown -->
    <div class="form-group">
        <label for="languageSelect">Dil Seçin:</label>
        <select id="languageSelect" name="Language" class="form-control">
            <option value="tr-TR">Türkçe</option>
            <option value="en-US">English</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <textarea asp-for="Title" class="form-control"></textarea>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image_File" class="control-label"></label>
        <img src="/img/@Model.ImageUrl" width="100" height="100" alt="Image" />
        <input type="file" asp-for="Image_File" class="form-control">
        <span asp-validation-for="Image_File" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P1" class="control-label"></label>
        <input asp-for="P1" class="form-control" />
        <span asp-validation-for="P1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P2" class="control-label"></label>
        <input asp-for="P2" class="form-control" />
        <span asp-validation-for="P2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P3" class="control-label"></label>
        <input asp-for="P3" class="form-control" />
        <span asp-validation-for="P3" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P4" class="control-label"></label>
        <input asp-for="P4" class="form-control" />
        <span asp-validation-for="P4" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>
