

@* Portfolio Ekleme Sayfası Tasarımı *@

@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Portfolio Ekleme</h1>
<br />
<br />
<form asp-action="AddPortfolio" method="post">

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P1" class="control-label"></label>
        <input asp-for="P1" class="form-control" />
        <span asp-validation-for="P1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P2" class="control-label"></label>
        <input asp-for="P2" class="form-control" />
        <span asp-validation-for="P2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="P3" class="control-label"></label>
        <textarea asp-for="P3" class="form-control"></textarea>
        <span asp-validation-for="P3" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="S1" class="control-label"></label>
        <input asp-for="S1" class="form-control" />
        <span asp-validation-for="S1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SP1" class="control-label"></label>
        <input asp-for="SP1" class="form-control" />
        <span asp-validation-for="SP1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="S2" class="control-label"></label>
        <textarea asp-for="S2" class="form-control"></textarea>
        <span asp-validation-for="S2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SP2" class="control-label"></label>
        <textarea asp-for="SP2" class="form-control"></textarea>
        <span asp-validation-for="SP2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>
